* {
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.5;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  .cat-info {
    margin-top: 20px;
    gap: 20px;
  }
  .cat-name {
    margin: 0;
  }
  .cat-description {
    max-width: 500px;
  }
    